<li><%= link_to 'Rundgänge', guidedtours_path %>
  <ul>
    <li><%= link_to 'Offene Rundgänge', opened_guidedtours_path %></li>
    <li><%= link_to 'Rundgang anlegen', new_guidedtour_path %></li>
  </ul>
</li>
<li><%= link_to 'Referenten', referents_path %>
  <ul>
    <li><%= link_to 'Referenten anlegen', new_referent_path %></li>
    <li><%= link_to 'Lizenzen', licenses_path %></li>
    <li><%= link_to 'Sprachen', languages_path %></li>
    <li><%= link_to 'Deaktivierten Referenten', inactiv_referents_path %></li>
  </ul>
</li>
