<%= title('Alle Referenten') %>
<h1>Alle Referenten</h1>

<div id='chrome_links'></div>

<div id='tabs'>
  <ul>
    <% @all_letters.each do |letter| %>
      <li id="<%= (letter == @selected_letter) ? 'selected' : '' %>"><%= link_to letter, referents_path(selected_letter: letter) %></li>
    <% end %>
  </ul>
</div>

<div id='tab_content'>
  <table id ='referents' class='display'>
    <thead>
      <tr>
        <th rowspan="2">Nachname</th>
        <th rowspan="2">Vorname</th>
        <th rowspan="2">Anrede</th>
        <th rowspan="2">Telefon</th>
        <th rowspan="2">Email</th>
        <th rowspan="2">Lizenzen</th>
        <th rowspan="2"><%= button_to 'Senden', '#', class: 'multiple_mailto' %> <%= check_box_tag("mail_all", false, false) %>an alle</th>
        <th rowspan="2">Sprachen</th>
        <th rowspan="2">Bemerkungen</th>
        <th colspan="<%= admin? ? 4 : 3 %>">Optionen</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <% if admin? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody id='scrollable'>
      <% @referents.each do |referent| %>
        <% if referent.temporary? %>
          <tr title='Temporär deaktiviert' style='color: grey;' id="<%= referent.id%>">
        <% else %>
          <tr id="<%= referent.id %>">
        <% end %>
          <td><%= referent.lastname %></td>
          <td><%= referent.firstname %></td>
          <td><%= t("title.#{referent.gender}") %></td>
          <td><%= referent.tel %><% if referent.tel2? %> (<%= referent.tel2 %>)<% end %></td>
          <td><%= referent.email %></td>
          <td><%= referent.licenses.map(&:shortcut).join(', ') %></td>
          <td><%= check_box_tag "mailto_#{ referent.id }", referent.email %></td>
          <td><%= referent.languages.map(&:language).join(', ') %></td>
          <td><%= referent.remarc %></td>
          <td>
            <% if referent.temporary? %>
              <%= link_to(image_tag('activate.png', size: '20'), change_activ_referent_path(referent, :activ => 'activ'), title: 'Aktivieren', :remote => true, method: :put)  %>
            <% else %>
              <%= link_to(image_tag('temporary.png', size: '20'), change_activ_referent_path(referent, :activ => 'temporary'), title: 'Temporär deaktivieren', :remote => true, method: :put) %>
            <% end %>
          </td>
          <td><%= link_to(image_tag('deactivate.png', size: '20'), change_activ_referent_path(referent, :activ => 'inactiv'), title: 'Deaktivieren', :remote => true, method: :put) %></td>
          <td><%= link_to(image_tag('edit.png', size: '20'), edit_referent_path(referent), title: 'Bearbeiten')  %></td>
          <% if admin? %>
            <td><%= link_to(image_tag('delete.png', size: '20'), remove_referent_path(referent.id), title: 'Löschen', method: :delete,
                            data: { confirm: "#{ referent.full_name } löschen?", remote: true } ) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
