<%= form_for [:admin, @user] do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= @user.errors.count %> Fehler aufgetreten:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class='form_user'>

    <tr>
      <td><%=f.label :gender %>*</td>
      <td><%= f.radio_button :gender, :herr %> Herr <%= f.radio_button :gender, :frau %> Frau</td>
    </tr>

    <tr>
      <td><%= f.label :firstname %>*</td>
      <td><%= f.text_field :firstname %></td>
    </tr>

    <tr>
      <td><%= f.label :lastname %>*</td>
      <td><%= f.text_field :lastname %></td>
    <tr>

    <tr>
      <td><%= f.label :username %>*</td>
      <td><%= f.text_field :username %></td>
    <tr>

    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    <tr>

    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation %></td>
    <tr>

    <tr>
      <td><%= f.label :email %>*</td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td><%= f.label :tel %>*</td>
      <td><%= f.text_field :tel %></td>
    <tr>

    <tr>
      <td><%= f.label :tel2 %></td>
      <td><%= f.text_field :tel2 %></td>
    </tr>

  <table>

  <% if admin? %>
    <div>
      <p>Rollen:</p>
      <% @roles.each do |role| %>
        <%= check_box_tag "role_#{role.id}", role.id, @user.roles.include?(role), name: 'roles[]' %>
        <%= label_tag :roles, role.title %>
      <% end %>
    </div>
  <% end %>

  <% if @user.is_referent? || !@user.persisted? %>
    <h2>Referentendaten:</p><h2>

    <table>
      <tr>
        <td><%= f.label :remarc %></td>
        <td><%= f.text_area :remarc %></td>
      </tr>

      <% if admin? || accounter? || dbuser? %>
        <tr>
          <td><%= f.label :active %></td>
          <td><%= f.select :activ, User::ACTIVITY.collect { |id, text | [ text, id ] } %></td>
        </tr>
      <% end %>

      <tr>
        <td><%= f.label :zip %></td>
        <td><%= f.text_field :zip %></td>
      </tr>

      <tr>
        <td><%= f.label :city %></td>
        <td><%= f.text_field :city %></td>
      </tr>

      <tr>
        <td><%= f.label :street %></td>
        <td><%= f.text_field :street %></td>
      </tr>

      <tr>
        <td><%= f.label :country %></td>
        <td><%= f.text_field :country %></td>
      </tr>

      <tr>
        <td><%= f.label :bank %>*</td>
        <td><%= f.text_field :bank %></td>
      </tr>

      <tr>
        <td><%= f.label :blz %>*</td>
        <td><%= f.text_field :blz %></td>
      </tr>

      <tr>
        <td><%= f.label :konto %>*</td>
        <td><%= f.text_field :konto %></td>
      </tr>

      <% if admin? or accounter? %>
        <tr>
          <td><%= f.label :honorar %></td>
          <td><%= f.check_box :honorar %></td>
        </tr>
      <% end %>

    </table>

    <% if @languages %>
      <p>Referent spricht:</p>
      <% @languages.each do |language| %>
        <%= check_box_tag "language_#{language.id}", language.id, @user.languages.include?(language), name: 'languages[]' %>
        <%= label_tag :languages, language.language %>
      <% end %>
    <% end %>

    <% if @licenses %>
    <p>Referent hat Lizenzen:</p>
      <% @licenses.each do |license| %>
        <%= check_box_tag "license_#{ license.id }", license.id,
          @user.licenses.include?(license), name: 'licenses[]', title: license.title %>
        <%= label_tag :licenses, license.shortcut, title: license.title %>
      <% end %>
    <% end %>
  <% end %>

  <p><%= f.submit %></p>
<% end %>
