<%= title('Alle Nutzer') %>
<h1>Alle Nutzer</h1>

<div id='tabs'>
  <ul>
    <% @all_letters.each do |letter| %>
      <li id='<%= (letter == @selected_letter) ? 'selected' : '' %>'><%= link_to letter, admin_users_path(selected_letter: letter) %></li>
    <% end %>
  </ul>
</div>

<div id= 'tab_content'>
  <table id='users' class='display'>
    <thead>
      <tr>
        <th rowspan="2">Nachname</th>
        <th rowspan="2">Vorname</th>
        <th rowspan="2">Anrede</th>
        <th rowspan="2">Email</th>
        <th rowspan="2">Telefon</th>
        <th rowspan="2">Rechte</th>
        <th colspan="2">Optionen</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="<%= user.id %>">
          <td><%= user.lastname %></td>
          <td><%= user.firstname %></td>
          <td><%= t("title.#{user.gender}") %></td>
          <td><%= user.email %></td>
          <td><%= user.tel %></td>
          <td><%= user.roles.collect(&:title).join(', ') %></td>
          <td><%= link_to(image_tag('edit.png', size: '20'), edit_admin_user_path(user), title: 'Bearbeiten')  %></td>
          <td><%= link_to(image_tag('delete.png', size: '20'), admin_user_path(user), title: 'Löschen', method: :delete, data: { confirm: "#{ user.full_name } löschen?", remote: true } ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
